.annotator-wrapper {
  position: relative;
}

.annotator-adder a {
  display: block;
  width: 22px;
  height: 22px;
  background: transparent url(../img/note.png) no-repeat left top;
}

.annotator-adder {
  position: absolute;
  display: none;
  margin: -25px 0 0 3px;
}

.annotator-hl {
  background: rgba(255, 255, 10, 0.3);
}

.annotator-hl .hover {
  border: 2px solid #f00;
}

.annotator-editor {
  position: absolute;
  width: 15em;
  height: auto;
  opacity: 0.95;
}

.annot-editor textarea {
  background: #fdf5d8;
  border: 1px solid #e1be94;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  margin: 0;
  padding: 0.4em;
  width: 100%;
  height: 100%;
}

.annotator-viewer {
  position: absolute;
  width: 15em;
  height: auto;
  opacity: 0.95;
  background: #fdf5d8;
  border: 1px solid #e1be94;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  margin: 2px 0 0 2px;
  padding: 0.2em 0.4em 0.4em 0.4em;
  line-height: 16px;
}

.annotator-viewer .annotator-ann {
  color: #333333;
  font-family: helvetica;
  font-size: 75%;
  margin: 0.25em 0 0 0;
}

.annotator-viewer .annotator-ann + .annotator-ann {
  border-top: 1px solid #E1BE94;
  padding-top: 0.25em;
}

.annotator-ann .annotator-ann-controls {
  display: none;
  float: right;
}

.annotator-viewer:hover .annotator-ann .annotator-ann-controls {
  display: block;
}

.annotator-ann .annotator-ann-controls a {
  width: 16px;
  height: 16px;
  display: inline-block;
  text-indent: -9999em
}

.annotator-ann .annotator-ann-controls a.edit {
  background: transparent url(../img/edit.png) no-repeat top left;
}

.annotator-ann .annotator-ann-controls a.del {
  background: transparent url(../img/delete.png) no-repeat top left;
}

.annotator-ann .annotator-ann-text p {
  margin: 0;
}

.annotator-ann .annotator-ann-text p + p {
  margin: 0 0 0.25em 0;
}

.annotator-viewer .user {
  display: block;
  font-size: 0.8em;
  opacity: 0.6;
}
