/* @override 
	http://localhost:5000/static/css/annotator.css
	http://localhost:8000/css/annotator.css
*/

.annotator-wrapper {
	position: relative;
}

.annotator-adder,
.annotator-viewer {
	position: absolute;
	font: 10px/1 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.annotator-adder {
	margin-top: -41px;
	margin-left: -25px;
	width: 50px;
	height: 55px;
	background: url(../img/annotator-icon-sprite.png) no-repeat left top;
}

.annotator-adder:hover {
	background-position: center top;
}

.annotator-adder:active {
	background-position: center right;
}

.annotator-adder a {
	display: block;
	width: 36px;
	height: 41px;
	margin: 0 auto;
	text-indent: -999em;
}

.annotator-hl {
	background: rgba(255, 255, 10, 0.3);
}

.annotator-viewer {
	width: 265px;
	padding: 0;
	margin: 0;
	list-style: none;
	background-color: rgba(251, 251, 251, 0.98);
	border: 1px solid rgba(122, 122, 122, 0.6);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.annotator-viewer::after {
	content: "";
	display: block;
	width: 18px;
	height: 10px;
	background: url(../img/annotator-glyph-sprite.png) no-repeat 0 0;
	position: absolute;
	bottom: -9px;
	left: 8px;
}

.annotator-viewer li {
	position: relative;
	font-size: 11px;
	color: rgb(144, 144, 144);
	padding: 0 2px;
	border-top: 2px solid rgba(122, 122, 122, 0.2);
}

.annotator-viewer li:first-child {
	border-top: none;
}

.annotator-viewer div {
	padding: 6px 6px;
	border-top: 1px solid rgba(133, 133, 133, 0.11);
}

.annotator-viewer div:first-child {
	padding-top: 12px;
	padding-bottom: 12px;
	color: rgb(60, 60, 60);
	font-size: 13px;
	font-style: italic;
	line-height: 1.3;
	border-top: none;
}

.annotator-viewer .annotator-controls {
	top: 5px;
	right: 5px;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 0 3px 5px;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in;
	-moz-transition: opacity 0.2s ease-in;
	-o-transition: opacity 0.2s ease-in;
	transition: opacity 0.2s ease-in;
}

.annotator-viewer li .annotator-controls:hover,
.annotator-viewer li .annotator-controls.visible {
	opacity: 1;
}

.annotator-viewer .annotator-controls button {
	cursor: pointer;
	display: inline-block;
	width: 13px;
	height: 13px;
	margin-left: 2px;
	border: none;
	opacity: 0.2;
	text-indent: -900em;
	background: transparent url(../img/annotator-glyph-sprite.png) no-repeat;
}

.annotator-viewer .annotator-controls button:hover {
	opacity: 0.9;
}

.annotator-viewer .annotator-controls button:active {
	opacity: 1;
}

.annotator-viewer .annotator-controls button[disabled] {
	display: none;
}

.annotator-viewer .annotator-controls .annotator-edit {
	background-position: 0 -30px;
}

.annotator-viewer .annotator-controls .annotator-delete {
	background-position: 0 -45px;
}

.annotator-editor {
	font-family: helvetica;
	position: absolute;
	border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	height: auto;
	width: 15em;
	line-height: 16px;
	background: rgba(253, 245, 216, 0.95);
	border: 1px solid rgb(225, 190, 148);
	margin: 1px 0 0 0;
	padding: 0.2em;
}

.annotator-editor label {
	font-size: 0.6em;
	color: #6d6a5e;
}

.annotator-editor input,
.annotator-editor textarea {
	display: block;
}

.annotator-editor input[type=radio],
.annotator-editor input[type=checkbox] {
	display: inline;
	margin-right: 0;
}

.annotator-editor textarea {
	background: transparent;
	margin: 1px 0 0 0;
	padding: 0;
	border: none;
	width: 100%;
}

.annotator-editor .annotator-editor-controls {
	float: right;
}

.annotator-editor .annotator-editor-controls button {
	opacity: 0.5;
	border: 1px solid transparent;
	margin: 0;
	line-height: 16px;
	padding: 0 0 0 18px;
	background: transparent none no-repeat top left;
}

.annotator-editor .annotator-editor-controls button:hover {
	opacity: 1;
	cursor: pointer;
}

.annotator-editor .annotator-editor-controls button.annotator-editor-save {
	background-image: url(../img/accept.png);
}

.annotator-editor .annotator-editor-controls button.annotator-editor-cancel {
	background-image: url(../img/cancel.png);
}

.annotator-editor input.annotator-editor-tags {
	font-size: 0.6em;
	width: 24.8em;
	padding: 0;
	margin-bottom: 0.4em;
	background: rgba(255, 255, 255, 0.8);
	border: 1px solid #ccc;
}

.annotator-notice {
	position: absolute;
	position: fixed;
	top: -40px;
	width: 100%;
	line-height: 40px;
	font-size: 12px;
}

.annotator-notice {
	color: #706446;
	font-family: helvetica, arial, sans-serif;
	position: absolute;
	position: fixed;
	top: -40px;
	left: 0;
	width: 100%;
	line-height: 40px;
	font-size: 14px;
	text-align: center;
	background-color: #FDF5D8;
	border-bottom: 1px solid #E1BE99;
	-webkit-transition: top 0.4s ease-out;
	-moz-transition: top 0.4s ease-out;
	-o-transition: top 0.4s ease-out;
	transition: top 0.4s ease-out;
}

.annotator-notice.show {
	top: 0;
}

.annotator-tags {
	margin-bottom: -2px;
}

.annotator-tags .annotator-tag {
	display: inline-block;
	padding: 0 8px;
	margin-bottom: 2px;
	line-height: 1.6;
	font-weight: bold;
	background-color: rgb(230, 230, 230);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
}
