<html>

  <body>
    
    <script src="../static/js/annotator.js"></script>
    <script src="../static/js/jquery-1.11.1.min.js"></script>

    <header>
      <h1>Annotator demonstration</h1>

    <div class="container">
      <h1 class="logo">Experimental features</h1>
      <nav>
        <ul class="menu">
          {% if 'email' in session %}
          <li>Welcome: {{session.email}}</li>
          <li><a href="{{ url_for('signOut') }}">Sign Out</a></li>
          {% else %}
          <li><a href="{{ url_for('signUp') }}">Sign Up</a></li>
          <li><a href="{{ url_for('signIn') }}">Sign In</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  

    </header>

    <article>
      <p>
        DDI annotation testing page, make annotation on text below
        (text comes from dailymed: http://dailymed.nlm.nih.gov/dailymed/drugInfo.cfm?setid=b891bd9f-fdb8-4862-89c5-ecdd700398a3)
      </p>

      <div id="content">
      <p>
        7.4 Effect of Other Drugs on EMSAM
      </p>
      <p>
        Carbamazepine is contraindicated with MAOIs, including selegiline [see Contraindications (4), Warnings and Precautions (5.3) and Clinical Pharmacology (12.3)].
      </p>
      <p>
        No dose adjustment for EMSAM is needed when EMSAM is used concomitantly with alcohol, alprazolam, ibuprofen, olanzapine, risperidone, levothyroxine, and CYP3A4 inhibitors (e.g., ketoconazole). No clinically meaningful change in selegiline exposure was seen when EMSAM was co-administered with alcohol, alprazolam, ibuprofen, olanzapine, risperidone, levothyroxine, and ketoconazole [see Clinical Pharmacology (12.3)].
      </p>

      </div>
      <p>
        7.5 Effect of EMSAM on Other Drugs
      </p>
      <p>
        Use of alcohol while taking EMSAM is not recommended, even though EMSAM has not been shown to increase the impairment of mental and motor skills caused by alcohol (0.75 mg per kg) [see Clinical Pharmacology (12.3)].
      </p>
      <p>
Monitor blood pressure if sympathomimetic agents (e.g., phenylpropanolamine (PPA) or pseudoephedrine) are used with EMSAM, even though selegiline does not appear to affect the pharmacokinetics of PPA or pseudoephedrine [see Clinical Pharmacology (12.3)].
      </p>
      <p>
        No dose adjustment of alprazolam, ibuprofen, levothyroxine, olanzapine, risperdione, warfarin, or strong CYP3A4 inhibitors (e.g., ketoconazole) is necessary when these drugs are used in combination with EMSAM. EMSAM had no clinically relevant effect on pharmacokinetics of these drugs. 
      </p>
    </article>

    <script src="../static/js/ddi-plugin.js"> </script>

  </body>



</html>
