body {
	font-family: Helvetica, sans-serif;
}

h1, h2, h3 {
	font-family: 'Arvo', serif;
}

a:link, a:visited {
	color: rgb(168, 40, 52);
}

a:hover, a:active {
	color: rgba(168, 40, 52, 0.8);
}

pre, tt, code, samp {
	font-family: 'Inconsolata', monospace;
}

pre, code {
	margin: 0;
	padding: 0;
}

p {
	line-height: 1.4em;
}

header h1 {
	font-size: 4em;
	margin-bottom: 0;
}

header h2 {
	font-weight: normal;
	margin-top: 0;
}

#airlock {
	margin: 0 auto;
	width: 70%;
}

footer {
	padding: 1em;
	display: block;
	background: rgba(0, 0, 0, 0.1);
	font-size: 80%;
	color: rgba(0, 0, 0, 0.5);
}

footer a:link, footer a:visited {
	color: rgba(168, 40, 52, 0.5);
}


footer:hover {
	color: rgba(0, 0, 0, 1);
}

footer:hover a:link, footer:hover a:visited {
	color: rgba(168, 40, 52, 1);
}

p.footnote {
	font-size: 80%;
}

hr {
	visibility: hidden;
	margin: 1em 0;
}