/* @override http://localhost:9393/lib/annotator.css */

.annot-wrapper {
	position: relative;
}

.annot-adder a {
	display: block;
	width: 22px;
	height: 22px;
	background: transparent url(img/note.png) no-repeat left top;
}

.annot-adder {
	position: absolute;
	display: none;
	margin: -25px 0 0 3px;
}

.annot-highlighter {
	background: rgba(255, 255, 10, 0.3);
}

.annot-highlighter .hover {
	border: 2px solid #f00;
}

.annot-editor {
	position: absolute;
	width: 15em;
	height: auto;
	opacity: 0.95;
}

.annot-editor textarea {
	background: #fdf5d8;
	border: 1px solid #e1be94;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	margin: 0;
	padding: 0.4em;
	width: 100%;
	height: 100%;
}

.annot-viewer {
	position: absolute;
	width: 15em;
	height: auto;
	opacity: 0.95;
	background: #fdf5d8;
	border: 1px solid #e1be94;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	margin: 2px 0 0 2px;
	padding: 0.2em 0.4em 0.4em 0.4em;
	line-height: 16px;
}

.annot-viewer p {
	color: #333333;
	font-family: helvetica;
	font-size: 75%;
	margin: 0.25em 0 0;
}

.annot-viewer p + p {
	border-top: 1px solid #E1BE94;
	padding-top: 0.25em;
}

.annot-controls {
	display: none;
	float: right;
}

.annot-viewer:hover .annot-controls {
	display: block;
}

.annot-controls a {
	width: 16px;
	height: 16px;
	display: inline-block;
	text-indent: -9999em
}

.annot-controls a.edit {
	background: transparent url(img/edit.png) no-repeat top left;
}

.annot-controls a.del {
	background: transparent url(img/delete.png) no-repeat top left;
}

.annot-viewer .user {
  display: block;
  font-size: 0.8em;
  opacity: 0.6;
}